<%= form_for(ripple) do |f| %>
  <% if ripple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ripple.errors.count, "error") %> prohibited this ripple from being saved:</h2>

      <ul>
      <% ripple.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= "Your name or alias (required)" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= "A website, yours or otherwise (optional)" %><br>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= "Your message/note/quote/rant (required)" %><br>
    <%= f.text_area :message, rows: 10, cols: 60 %>
  </div>

  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>
