<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Time Stamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
        	<% if ripple.url.to_s.empty? %>
        	  <%= ripple.name %>
        	<% else %>
        	  <a href= <%= ripple.url %>><%= ripple.name %></a>
        	<% end %>
        </td>
        <td><%= truncate(ripple.message, length: 50) %></td>
	    <td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id = "nav">
	<button><%= link_to 'Newest', ripples_path %></button>
	<button><%= link_to 'Previous 10 Ripples', ripples_previous_path %></button>
	<button><%= link_to 'Next 10 Ripples', ripples_next_path %></button>
	<button><%= link_to 'Oldest', ripples_oldest_path %></button>
    <button><%= link_to 'New Ripple', new_ripple_path %></button>
</div>

