<!DOCTYPE html>
<html>
  <head>
    <title>CONSCIOUS/Mess</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
  	<div id="banner">
  	  <h1>CONSCIOUS/Mess</h1>
  	  <h2>...a stream of anonymous online ramblings</h2>	
  	</div>
    <%= yield %>
  </body>
</html>
